<%- include('includes/header.ejs') %>

<div class="container">
<%- include('includes/param.ejs',{key:"Date & Time",value:funcs.formatDate(new Date())}) %>
<%- include('includes/param.ejs',{key:"Last Network Poll",value:funcs.ago(params.lastNetworkPoll)}) %>
</div>

<%- include('includes/footer.ejs') %>


