<%- include('includes/header.ejs',{active:'errors'}) %>
<div class="container">
    <% params.errors.forEach(function () {for (const [e] of params.errors.slice(0,params.errors.length-1)) { %>
        <div class="card">
            <div class="card-header">
            <%=e%>
            </div>
        </div>
        <Br> 
    <% } %>
</div>
<%- include('includes/footer.ejs') %>


