<%- include('includes/header.ejs',{active:'errors'}) %>
<div class="container">
    <% params.errors.slice(0,9).forEach(function() { %>
        <div class="card">
            <div class="card-header">
            <%=e%>
            </div>
        </div>
        <Br> 
    <% }) %>
</div>
<%- include('includes/footer.ejs') %>


