<%- include('includes/header.ejs',{active:'errors'}) %>
<div class="container">
    <% var errors = params.errors.slice(0,9) %>
    <%=errors.length%>
    <% for(var i=0; i<errors.length; i++) { %>
        <div class="card">
            <div class="card-header">
            <%=e%>
            </div>
        </div>
        <Br> 
    <% }) %>
</div>
<%- include('includes/footer.ejs') %>


