<%- include('includes/header.ejs',{active:'errors'}) %>
<div class="container">
    <% for (const [e] of Object.entries(params.errors)) { %>
        <div class="card">
            <div class="card-header">
            <%=e%>
            </div>
        </div>
        <Br> 
    <% } %>
</div>
<%- include('includes/footer.ejs') %>


