<%- include('includes/header.ejs',{active:'settings'}) %>

<div class="container">


    <% for (const [key, value] of params.settings.entries(object1)) { %>
        <%=key%>
    <% } %>


    <pre><%=JSON.stringify(params.settings,null,10)%></pre>
</div>

<%- include('includes/footer.ejs') %>


