<%- include('includes/header.ejs',{active:'settings'}) %>

<div class="container">

<table></table>
    <% for (const [key, value] of Object.entries(params.settings)) { %>
        <%=key%>
    <% } %>


    <pre><%=JSON.stringify(params.settings,null,10)%></pre>
</div>

<%- include('includes/footer.ejs') %>


