<%- include('includes/header.ejs',{active:'settings'}) %>

<div class="container">

    <style>
        .ptable border:1px solid grey;border-collapse:collapse
    </style>

<table class="ptable">
    <% for (const [key, value] of Object.entries(params.settings)) { %>
        <tr><td class="ptable"><%=key%></td></tr>
    <% } %>
</table>

    <pre><%=JSON.stringify(params.settings,null,10)%></pre>
</div>

<%- include('includes/footer.ejs') %>


