<%- include('includes/header.ejs',{active:'system'}) %>
<div class="container">
<h2>System</h2>
<button class="btn btn-primary" onClick="$.get('update', function(data) {alert(data)});">Update Software</button>
</div>
<%- include('includes/footer.ejs') %>


