<%- include('includes/header.ejs',{active:'system'}) %>
<div class="container">
<button class="btn btn-primary" onClick="$.get('update', function(data) {alert(data)});">Update Software</button>
<button class="btn btn-primary" onClick="$.get('reboot', function(data) {alert(data)});">Reboot</button>
</div>
<%- include('includes/footer.ejs') %>


