<%- include('includes/header.ejs',{active:'system'}) %>
<div class="container">
<h1>System</h1>
<button class="btn btn-primary" onClick="">Reboot</button>
</div>
<%- include('includes/footer.ejs') %>


